---
import BaseLayout from "../layouts/BaseLayout.astro";

// temp shit
let hits = await Astro.session?.get('hits');
if(!hits) hits = 0;

Astro.session?.set('hits', ++hits);

---

<BaseLayout pageTitle="Site Access Log Viewer" bodyClass="login">

	<h1>Stuff</h1>
	<div>{hits}</div>

</BaseLayout>